udo: required
os: linux
language: minimal

services:
  - docker

script:
  - echo "Monthly push to Docker HUB"
  - curl -X POST "https://hooks.microbadger.com/images/lacledeslan/gamesvr-cssource/"$DOCKERCLOUD_TRIGGER_LLGAMESVR_BLACKMESA"/call/
  - docker build --no-cache -t llgameserverbot/push-monthly .
  - docker login -u "$DOCKERHUB_USER" -p "$DOCKERHUB_PASS";
  - docker push llgameserverbot/push-monthly;
